$icomoon-font-family: "agproicons" !default;
$icomoon-font-path: "fonts" !default;

$agi-profitability: "\e915";
$agi-rocket: "\e916";
$agi-upgrade: "\e917";
$agi-trucknet: "\e918";
$agi-tachofresh: "\e919";
$agi-delete-selected: "\e914";
$agi-calendar-solid: "\e912";
$agi-eco-driving: "\e913";
$agi-thumb-down-outline-1: "\e910";
$agi-thumb-up-outline-1: "\e911";
$agi-emoticon-neutral: "\e90e";
$agi-help-circle-outline: "\e90f";
$agi-emoticon-cool: "\e90d";
$agi-folder_locked_open: "\e909";
$agi-folder_shared: "\e90a";
$agi-folder_shared_locked: "\e90b";
$agi-folder_shared_open: "\e90c";
$agi-gauge: "\e908";
$agi-view-list: "\21";
$agi-couleur-fond: "\22";
$agi-wrench: "\23";
$agi-power: "\24";
$agi-cancel: "\25";
$agi-driving: "\26";
$agi-available: "\27";
$agi-parking-1: "\28";
$agi-archive: "\29";
$agi-archived: "\2a";
$agi-departure: "\2b";
$agi-erase: "\2c";
$agi-favorite: "\2d";
$agi-ignition-off: "\2e";
$agi-ignition: "\2f";
$agi-working: "\30";
$agi-printer: "\31";
$agi-replay: "\32";
$agi-security: "\33";
$agi-speedometer: "\34";
$agi-timer: "\35";
$agi-trending-down: "\36";
$agi-trending-up: "\37";
$agi-truck: "\38";
$agi-view-dashboard: "\39";
$agi-gps: "\3a";
$agi-report: "\3b";
$agi-arrival: "\3c";
$agi-engine: "\3d";
$agi-star-outline: "\3e";
$agi-valid: "\3f";
$agi-iddletime-ow: "\40";
$agi-email: "\41";
$agi-email-outline: "\42";
$agi-eye: "\43";
$agi-file-excel: "\44";
$agi-file-pdf: "\45";
$agi-filter: "\46";
$agi-filter-outline: "\47";
$agi-gas-station: "\48";
$agi-information: "\49";
$agi-information-outline: "\4a";
$agi-laptop: "\4b";
$agi-lock: "\4c";
$agi-magnify: "\4d";
$agi-map: "\4e";
$agi-map-marker-radius: "\4f";
$agi-menu: "\50";
$agi-menu-down: "\51";
$agi-menu-left: "\52";
$agi-menu-right: "\53";
$agi-menu-up: "\54";
$agi-page-first: "\55";
$agi-page-last: "\56";
$agi-pencil: "\57";
$agi-phone: "\58";
$agi-play-circle-outline: "\59";
$agi-plus: "\5a";
$agi-siren: "\5b";
$agi-arrow-left: "\5c";
$agi-itineraire-final: "\5d";
$agi-action: "\5e";
$agi-break: "\5f";
$agi-checkbox-blank-outline-2: "\60";
$agi-account: "\61";
$agi-account-multiple: "\62";
$agi-chevron-down: "\63";
$agi-bell: "\64";
$agi-alert: "\65";
$agi-alert-octagon: "\66";
$agi-arrow-all: "\67";
$agi-arrow-compress-all: "\68";
$agi-av-timer: "\69";
$agi-bell-ring: "\6a";
$agi-account-star-variant: "\6b";
$agi-calendar-clock: "\6c";
$agi-calendar-range: "\6d";
$agi-calendar-today: "\6e";
$agi-cellphone-iphone: "\6f";
$agi-chart-line: "\70";
$agi-warehouse: "\71";
$agi-account-outline: "\72";
$agi-chevron-left: "\73";
$agi-chevron-right: "\74";
$agi-chevron-up: "\75";
$agi-city: "\76";
$agi-clock: "\77";
$agi-clock-fast: "\78";
$agi-content-save: "\79";
$agi-delete: "\7a";
$agi-checkbox-marked-outline-3: "\7b";
$agi-dots-horizontal: "\7c";
$agi-send: "\7d";
$agi-cost: "\7e";
$agi-theft: "\e000";
$agi-vehicle-group: "\e001";
$agi-communication: "\e002";
$agi-batterie: "\e003";
$agi-reservoir: "\e004";
$agi-index-km: "\e005";
$agi-localize: "\e006";
$agi-sms: "\e007";
$agi-home: "\e008";
$agi-boussole: "\e009";
$agi-arrow-right: "\e00a";
$agi-bank: "\e00b";
$agi-ambulance: "\e00c";
$agi-domain: "\e00e";
$agi-silverware: "\e00f";
$agi-hotel: "\e010";
$agi-volume-high: "\e011";
$agi-account-multiple-plus: "\e012";
$agi-checkbox-blank-circle-outline: "\e013";
$agi-format-color-fill: "\e014";
$agi-link-variant: "\e015";
$agi-link-variant-off: "\e016";
$agi-bell-outline: "\e017";
$agi-emoticon-sad: "\e018";
$agi-eye-off: "\e019";
$agi-comment-check-outline: "\e01a";
$agi-settings-outlined: "\e01b";
$agi-asterisk: "\e01c";
$agi-volume-off: "\e01d";
$agi-moving: "\e01e";
$agi-circle: "\e01f";
$agi-battery-alert2: "\e020";
$agi-polygon: "\e021";
$agi-folder-lock: "\e022";
$agi-folder-open: "\e023";
$agi-folder-empty-locked: "\e024";
$agi-map-marker: "\e025";
$agi-folder-open-locked: "\e026";
$agi-dots-vertical: "\e027";
$agi-dump-truck: "\e028";
$agi-agsup: "\e029";
$agi-truck-mixer: "\e02a";
$agi-view-column: "\e02b";
$agi-ic-textsms-black-24px: "\e02c";
$agi-refrigerated-transport: "\e02d";
$agi-server-network: "\e02e";
$agi-real-time: "\e02f";
$agi-sim: "\e030";
$agi-package-variant: "\e031";
$agi-modem: "\e032";
$agi-help-box: "\e033";
$agi-book-open-page-variant: "\e034";
$agi-account-settings-variant: "\e035";
$agi-comment-inverse: "\e036";
$agi-exclamation: "\e037";
$agi-timer-sand: "\e038";
$agi-parking: "\e039";
$agi-gps-good: "\e03a";
$agi-gps-low: "\e03b";
$agi-gps-medium: "\e03c";
$agi-gps-off: "\e03d";
$agi-gps-top: "\e03e";
$agi-light-vehicle: "\e03f";
$agi-end-of-idletime: "\e040";
$agi-off2: "\e041";
$agi-on2: "\e042";
$agi-tractor: "\e043";
$agi-bus: "\e044";
$agi-crane: "\e045";
$agi-refueling: "\e900";
$agi-emoticon-happy: "\e901";
$agi-engine_off: "\e902";
$agi-ic_fitness_center_black_24px: "\e903";
$agi-fueltank-big: "\e904";
$agi-fueltank-small: "\e905";
$agi-account-off: "\e906";
$agi-chart-donut: "\e907";

