<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>

    <img src="../../assets/images/logo-ag7.svg" alt="ag7" class="brand-logo">

    <ion-menu-toggle slot="end" menu="end" auto-hide="false">
      <ion-icon name="more"></ion-icon>
    </ion-menu-toggle>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="dashboard">
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6">
        <ion-card color="brand-primary">
          <ion-card-header>
            <ion-card-title>
              Véhicule
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6">
          <ion-card color="tertiary">
              <ion-card-header>
                <ion-card-title>
                  Indicateurs
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Lorem ipsum
              </ion-card-content>
          </ion-card>        
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="12">
          <ion-card color="secondary">
              <ion-card-header>
                <ion-card-title>
                  Jauges
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <a href="/gauges" target="self">valider</a>
              </ion-card-content>
          </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
